AnchorPane {
    -fx-background-color: #C1AF9C;
    -fx-border-radius: 10px;
}

@font-face {
    font-family: Merriweather;
    src: url(Font/Merriweather/Merriweather-Black.ttf);
}

@font-face {
    font-family: AntonSC;
    src: url(Font/AntonSC-Regular.ttf);
}

.switchLogin {
    -fx-underline: true;
    -fx-text-fill: #536A5C;
    -fx-font-family: 'AntonSC';
    -fx-font-size: 20px;
}

.switchRegister {
    -fx-underline: false;
    -fx-text-fill: #3B3424;
    -fx-font-family: 'Merriweather';
    -fx-font-size: 20px;
}

.switchRegister:hover, .switchRegister:focused {
    -fx-text-fill: #536A5C;
    -fx-underline: true;
    -fx-font-size: 20px;
}

.buttonForgotPassword, .LoginText, .WelcomeText {
    -fx-font-family: 'AntonSC';
}

.buttonForgotPassword:hover, .buttonForgotPassword:focused {
    -fx-text-fill: #536A5C;
    -fx-underline: true;
}