
.backGround {
    -fx-background-color: rgba(0,0,0,0);
}
.Loginbutton {
    -fx-background-color: white;
}
.textBox {
    -fx-background-color: rgba(0,0,0,0);
}

.HBoxRound {
    -fx-background-color: white;
    -fx-border-color: D7D7D7;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}
.ButtonTransparent {
    -fx-background-color: transparent;
    -fx-border-color: rgba(0,0,0,0);
}
.ButtonTransparent1 {
    -fx-background-color: #D64349;
    -fx-border-color: rgba(0,0,0,0);
}
.white-element {
    color: white;
}
.transparent-element {
    opacity: 0.5;
}
#MainPane {
    -fx-background-color: brown;
;
}