AnchorPane {
    -fx-background-color: #FFF8E8;
    -fx-border-radius: 20px;
}

Button {
    -fx-font-family: "Merriweather";
    -fx-font-size: 20px;
    -fx-background-color: #F7EED3;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: #674636;
    -fx-border-color: black;
}