BorderPane {
    -fx-background-color: #FFF8E8;
    -fx-border-radius: 20px;
}

.mainPane {
    -fx-border-color: #674636;
    -fx-background-color: #F7EED3;
}

.userManage, .booksManage, .upload, .statistics, .logout, .openSettings, .streak {
    -fx-text-alignment: center;
    -fx-font-family: "Merriweather";
    -fx-background-color: #F7EED3;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-color: #674636;
    -fx-font-size: 13px;
    -fx-pref-height: 50px;
    -fx-pref-width: 160px;
}

.userManage:hover, .booksManage:hover, .upload:hover, .statistics:hover, .logout:hover, .openSettings:hover, .streak:hover {
    -fx-background-color: white;
}

.userManage:focused, .booksManage:focused, .upload:focused, .statistics:focused, .logout:focused, .openSettings:focused, .streak:focused {
    -fx-background-color: white;
}

Button:hover, Button:focused {
    -fx-background-color: white;
}

.homeImage . userManage {
    -fx-fit-to-width: 20px;
    -fx-fit-to-height: 20px;
}

.user {
    -fx-font-family: "Merriweather";
    -fx-font-size: 15px;
    -fx-background-color: #F7EED3;
}

ImageView {
    -fx-opacity: 0.8;
}

TextField {
    -fx-font-family: "Merriweather";
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-text-fill: #674636;
    -fx-font-size: 13px;
}

.username {
    -fx-font-family: "Merriweather";
    -fx-font-size: 13px;
    -fx-background-color: #FFF8E8;
}

.username:hover, .username:focused {
    -fx-background-color: white;
}

JFXSlider .thumb, JFXSlider .track {
    -fx-background-color: green;
}

JFXSlider .tick-mark {
    -fx-background-color: #536A5C;
}