.dialog-pane {
    -fx-background-color: #FFF2D8;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian, #888888, 10, 0.5, 0, 0);
}

/* Title and Header Text */
.dialog-pane .header {
    -fx-font-family: "Merriweather";
    -fx-background-color: #F7EED3;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 10px;
}

/* Content Text */
.dialog-pane .content {
    -fx-font-family: "Merriweather";
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-padding: 10px 20px;
}

/* Buttons Style */
.button {
    -fx-font-family: "Merriweather";
    -fx-background-color: #F7EED3; /* Blue button color */
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-border-radius: 10px; /* Rounded corners for buttons */
    -fx-padding: 10px 20px;
    -fx-font-weight: bold;
    -fx-border-color: black;
}

.button:hover {
    -fx-background-color: white; /* Darker blue when hovered */
}

/* Button Container */
.button-bar {
    -fx-padding: 10px;
}